@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    font-family: 'Poppins', sans-serif;
}

.text-primary{
    @apply text-[#3055F6]
}

.custom-scrollbar::-webkit-scrollbar
{
	height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track
{
    @apply w-[1px] bg-slate-100;
}



.custom-scrollbar::-webkit-scrollbar-thumb
{
	@apply bg-slate-300/[0.4] rounded-3xl
}

.active{
    @apply bg-blue-600 text-white;
}

/* pagination */
.pagination-container {
    @apply flex gap-x-5  text-[13px] p-2 flex-wrap
  }
  .paginate-buttons {
  @apply h-[30px] w-[30px] rounded-md text-black/[0.4] hover:text-white hover:bg-blue-600 
  }

  .active-page {
    @apply text-white bg-blue-600
  }
  /* .active-page:hover {
    background-color: #2988c8;
  } */

  pre {
    background: #29292e;
    border-radius: 2px;
    overflow: auto;
    padding: 1rem;
    color: #eff1f9;
    line-height: 1.42em;
    font-size: 13px;
  }
  @media screen and (min-width: 380px) {
    pre {
      font-size: 15px;
    }
  }
  pre code {
    background: #29292e;
    color: #eff0f9;
    white-space: pre;
  }
  
  div.highlight pre.highlight code {
    font-size: inherit;
    padding: 0px;
  }
  
  div.inner-comment div.body div.highlight pre.highlight {
    background: #29292e;
  }
  
  div.inner-comment div.body div.highlight pre.highlight code {
    font-size: inherit;
    white-space: inherit;
    background: inherit;
    color: inherit;
  }
  
  .modal-header-bg{
    @apply  bg-[url('https://images.unsplash.com/photo-1503437313881-503a91226402?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHRlY2hub2xvZ3l8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60')] bg-center bg-cover bg-no-repeat
  }