@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    font-family: 'Poppins', sans-serif;
}

.text-primary{
    @apply text-[#3055F6]
}

.custom-scrollbar::-webkit-scrollbar
{
	height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track
{
    @apply w-[1px] bg-slate-100;
}



.custom-scrollbar::-webkit-scrollbar-thumb
{
	@apply bg-slate-300/[0.4] rounded-3xl
}

.active{
    @apply bg-blue-600 text-white;
}

/* pagination */
.pagination-container {
    @apply flex gap-x-5  text-[13px] p-2 flex-wrap
  }
  .paginate-buttons {
  @apply h-[30px] w-[30px] rounded-md text-black/[0.4] hover:text-white hover:bg-blue-600 
  }

  .active-page {
    @apply text-white bg-blue-600
  }
  /* .active-page:hover {
    background-color: #2988c8;
  } */